@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&family=Roboto&family=Sora:wght@500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Open Sans", sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.box{
    margin-left: auto;
    margin-right: auto;
    width: 20rem;
    background-color: white;
    box-shadow: 2px 2px 10px 2px rgb(176, 173, 173);
    padding-bottom: 2rem;
    margin-top: 1rem;
    padding: 1.5rem;
    line-height: 1.20rem;
    border-radius: 10px;
}


input{
    width: 100%;
    height: 2.60rem;
    border: rgb(226, 229, 236) 1px solid;
    border-radius: 6px;
    padding-left: 1rem;
}
form{
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 1rem;
}
#head{
    /* font-family: Arial, Helvetica, sans-serif; */
    text-align: center;
    padding-top: 4px;
}

#emptyusername, #lessthanusername, #emptymail, #emptypsw, #lessthanpassword, #emptyconfirm, #notmatch, #validmail{
    /* display: none; */
    color: red;
    font-family: monospace;
    font-size: 14px;
    visibility: hidden;
}
#btn{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

button{
    width: 20rem;
    padding: 1rem;
    outline: none;
    border: 0;
    color: white;
    background-color: rgb(124, 160, 237);
    border-radius: 5px;
    cursor: pointer;
    font-size: 17px;
}

label{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(143, 144, 146);
}


